<div class="row">
  <div class="col-md-12">
    <div>
      <div style="text-align:center; font-size:40px;">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <div class="text-center mb-4">
        <h3>Homebridge Link Required</h3>
      </div>
      <div>
        <p>
          To use this Google Assistant action you must first install and configure the
          <a href="https://github.com/oznu/homebridge-gsh">homebridge-gsh</a>
          plugin in your local Homebridge instance.
        </p>
        <p>
          You are seeing this page because your instance is not currently connected to the Homebridge GSH servers.
        </p>
        <p>
          If you have already configured the <a href="https://github.com/oznu/homebridge-gsh">homebridge-gsh</a> plugin,
          please ensure you have restarted your Homebridge instance and signed in to this action using the same account
          you used to link your Homebridge instance.
        </p>
        <p>
          Helpful Links:
        </p>
        <ul>
          <li><a href="https://accounts.google.com/logout">Logout of Google Accounts</a></li>
          <li><a href="https://github.com/logout">Logout of GitHub Account</a></li>
          <li><a href="https://oznu.auth0.com/v2/logout">Logout of Homebridge GSH</a></li>
        </ul>
      </div>

    </div>
  </div>


</div>