<div class="cover-container d-flex w-100">
  <div class="row justify-content-center w-100">
    <main role="main" class="cover pr-3 pl-3">
      <h1 class="cover-heading">Homebridge Google Smart Home Plugin</h1>
      <p class="lead">
        Allow <a href="https://assistant.google.com/" target="_blank">Google Assistant</a> to control your
        <a href="https://homebridge.io" target="_blank">Homebridge</a> accessories.
      </p>
      <p class="lead">
        <a href="https://github.com/oznu/homebridge-gsh" class="btn btn-lg btn-dark"><i class="fab fa-github"></i>
          GitHub</a>&nbsp;
        <a routerLink="/about" class="btn btn-lg btn-dark">Learn more</a>
      </p>

    </main>
  </div>
</div>