<div class="h-100 w-100 d-flex flex-column align-items-start">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark w-100">
    <a class="navbar-brand" routerLink="/">
      <img class="menu-logo" src="/assets/homebridge-logo-outline.png" />
      Homebridge GSH
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">

      </ul>
    </div>
  </nav>

  <div class="container-fluid w-100">
    <router-outlet></router-outlet>
  </div>

  <div class="mt-auto w-100 mb-2">
    <div class="container-fluid w-100">
      <div class="row">
        <div class="col-md-12 w-100 text-center grey-text">
          <a class="grey-text small" href="https://github.com/oznu">
            &copy; 2019 oznu
          </a>
          -
          <a class="grey-text small" routerLink="/privacy-policy">
            privacy policy
          </a>

        </div>
      </div>
    </div>
  </div>
</div>