
.app-container {
  min-height: 100%;
}

.bg-dark {
  background-color: #421367 !important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item>.nav-link {
  color: #FFF;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  background-color: rgba(255,255,255,.1);
}

.container-fluid {
  margin-top: 10px;
}

.menu-logo {
  height: 40px;
  margin-right: 10px;
}

.grey-text {
  color: grey;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 767px) {
  .auth0-logo {
    margin-top: 5px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .auth0-logo {
    text-align: right;
  }
}