<div class="row">
  <div class="col-md-12">
    <h3>About</h3>
    <p>
      The <a href="https://github.com/oznu/homebridge-gsh">homebridge-gsh</a> homebridge plugin allows you to control
      your accessories and devices connected to your Homebridge service using a Google Smart Home speaker or the Google
      Home mobile app on iOS and Android.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <h3>Privacy Policy</h3>
    <p>Your privacy is critically important to us. We have a few fundamental principles:</p>
    <ul>
      <li>We don’t ask you for personal information unless we truly need it. (We can’t stand services that ask you for
        things like your gender or income level for no apparent reason.)</li>
      <li>We don’t share your personal information with anyone except to comply with the law, develop our products, or
        protect our rights.</li>
      <li>We don’t store personal information on our servers unless required for the ongoing operation of one of our
        services.</li>
    </ul>
    <p>If you have questions about deleting or correcting your personal data please contact our support team.</p>

    <h4>Website Visitors</h4>
    <p>
      Like most website operators, this website collects non-personally-identifying information of the sort that web
      browsers and servers typically make available, such as the browser type, language preference, referring site, and
      the date and time of each visitor request. From time to time, we may release non-personally-identifying
      information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
    </p>
    <p>
      We also collects potentially personally-identifying information like Internet Protocol (IP) addresses
      for logged in users. We only discloses logged in user and commenter IP addresses under the same
      circumstances that it uses and discloses personally-identifying information as described below.
    </p>

    <h4>Gathering of Personally-Identifying Information</h4>
    <p>
      Certain visitors and users of this website choose to interact with this service in ways that require us to gather
      personally-identifying information. The amount and type of information that we gathers depends
      on the nature of the interaction. We do not disclose personally-identifying information other than as described
      below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may
      prevent them from engaging in certain services provided by this website.
    </p>

    <h4>Aggregated Statistics</h4>
    <p>
      We may collect statistics about the behavior of visitors to its websites. For instance, We may monitor the most
      popular integration documentation. We may display this information publicly or provide it to others. However, We
      do not disclose personally-identifying information other than as described below.
    </p>

    <h4>
      Information We Collect from Other Sources
    </h4>
    <p>
      With your authorization, we may also obtain information about you from other sources. For example, if you create
      or log into this website through a social media service (like Facebook, Google or Github), we will receive
      information from that service (such as your unique idenifier, email address, and name) via the authorization
      procedures used by that service. The information we receive depends on which services you authorize and any
      options that are available.
    </p>

    <h4>Protection of Certain Personally-Identifying Information</h4>
    <p>The operators of this website only discloses potentially personally-identifying and personally-identifying
      information only to those of it's employees, contractors and affiliated organizations that (i) need to know that
      information in order to process it on this website's behalf or to provide services available on this website, and
      (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated
      organizations may be located outside of your home country; by using this website, you consent to the
      transfer of such information to them. We will not rent or sell potentially personally-identifying and
      personally-identifying information to anyone. Other than to its employees, contractors and affiliated
      organizations, as described above, we disclose potentially personally-identifying and personally-identifying
      information only in response to a subpoena, court order or other governmental request, or when we believes in good
      faith that disclosure is reasonably necessary to protect the property or rights of this website, third parties or
      the public at large. If you are a registered user of this website and have supplied your email address, we may
      occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date
      with what’s going on with our products. We primarily use our various product blogs to communicate this type of
      information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a
      support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us
      clarify or respond to your request or to help us support other users. We takes all measures reasonably
      necessary to protect against the unauthorized access, use, alteration or destruction of potentially
      personally-identifying and personally-identifying information.
    </p>

    <h4>Cookies</h4>
    <p>
      A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser
      provides to the website each time the visitor returns. We uses cookies to help identify and track visitors, their
      usage of our website, and their website access preferences. Visitors who do not wish to have cookies placed on
      their computers should set their browsers to refuse cookies before using this website, with the drawback that
      certain features of this website may not function properly without the aid of cookies.
    </p>

    <h4>Privacy Policy Changes</h4>
    <p>
      Although most changes are likely to be minor, we may change our Privacy Policy from time to time, and
      in the operator's sole discretion. We encourages visitors to frequently check this page for any changes
      to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute
      your acceptance of such change.
    </p>

    <h4>Change log</h4>
    <ul>
      <li>
        <strong>2019-07-23</strong> - Initial version
      </li>
    </ul>

    <i>
      This privacy policy has been adapted from the
      <a href="https://automattic.com/privacy/">Automattic privacy policy</a> and is licensed
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons ShareAlike</a>.
    </i>




  </div>
</div>