<div *ngIf="translateService.ready && ready">
  <div *ngIf="!env.enableAccessories">
    <div class="alert alert-warning" role="alert">
      <p [innerHTML]="'accessories.message_must_use_insecure_mode' | translate"></p>
      <p class="mb-0">
        <span>{{ 'accessories.message_please_see' | translate }}</span>
        <a target="_blank" rel="noopener noreferrer"
          href="https://github.com/oznu/homebridge-config-ui-x/wiki/Enabling-Accessory-Control">
          https://github.com/oznu/homebridge-config-ui-x/wiki/Enabling-Accessory-Control
        </a>
        <span>{{ 'accessories.message_for_more_information' | translate }}</span>
      </p>
    </div>
  </div>

  <div *ngIf="env.enableAccessories">
    <p [innerHTML]="'plugins.settings.custom.homebridge-gsh.message_about' | translate"></p>
    <p *ngIf="!pluginConfig.token" translate="plugins.settings.custom.homebridge-gsh.message_account_link_required"></p>
    <div class="text-center" *ngIf="!pluginConfig.token">
      <button class="btn btn-primary btn-lg" (click)="linkAccount()">
        {{ 'plugins.settings.custom.homebridge-gsh.label_link_account' | translate }}
      </button>
    </div>

    <div class="text-center mt-1" *ngIf="pluginConfig.token">
      <i class="fas fa-check-circle primary-text" style="font-size:50px;"></i>
      <h4 class="mt-2">
        {{ linkType | titlecase }}
        {{ 'plugins.settings.custom.homebridge-gsh.label_account_linked' | translate }}
      </h4>

      <div class="mt-3" *ngIf="justLinked">
        <p class="primary-text">
          <strong>
            {{ 'plugins.settings.custom.homebridge-gsh.message_homebridge_restart_required' | translate }}
          </strong>
        </p>
      </div>
    </div>

    <div class="mt-3">
      Search for
      <a target="_blank" href="https://assistant.google.com/services/a/uid/000000b558f0d5d1?hl=en">
        Homebridge in the Google Home app
      </a>
      and link the action to complete setup.
    </div>

  </div>
</div>