
<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Homebridge Link Account</title>
    <link rel="stylesheet" href="https://cdn.auth0.com/ulp/react-components/1.0.0-beta.186/css/main.cdn.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.css" integrity="sha256-DVK12s61Wqwmj3XI0zZ9MFFmnNH8puF/eRHTB4ftKwk=" crossorigin="anonymous" />
    <style id="custom-styles-container">
      body {
        background: #000000;
        font-family: ulp-font, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif
      }
      .main-wrapper {
        background: #000000
      }
      .ulp-alert.danger {
        background: #e55e3f
      }
      .ulp-alert.success {
        background: #1bc462
      }
      .ulp-button-default {
        background-color: #0059d6
      }
      .ulp-button-success {
        background-color: #1bc462
      }
      .ulp-button-error {
        background-color: #e55e3f
      }
      @supports (mask-image: url('/static/img/theme-generic/copy-icon.svg')) {
        @supports not (-ms-ime-align: auto) {
          .input-container.error::before {
            background-color: #e55e3f
          }
        }
      }
      .input.ulp-input-error {
        border-color: #e55e3f
      }
      .error-cloud {
        background-color: #e55e3f
      }
      .error-fatal {
        background-color: #e55e3f
      }
      .error-local {
        background-color: #e55e3f
      }
      .ulp-popover.error {
        background-color: #e55e3f;
        border-color: #e55e3f
      }
      .ulp-popover.error::before {
        border-bottom-color: #e55e3f
      }
      .ulp-popover.error::after {
        border-bottom-color: #e55e3f
      }
      #alert-trigger {
        background-color: #e55e3f
      }
    </style>
  </head>
  <body>
    <div class="main-wrapper">
      <main class="ulp-outer">
        <section class="ulp-box  ">
          <div class="ulp-box-inner">
            <div class="ulp-main">
              <header class="ulp-header">
                <img id="prompt-logo-center" src="https://user-images.githubusercontent.com/3979615/61695208-7019dc80-ad76-11e9-8769-802eb7404446.png" alt="Signed In" />
                <h1>Signed In</h1>
                <p class="text-simple">Configuring Homebridge, please wait...</p>
              </header>
              <div style="padding: 10px; margin-bottom:20px;">
                <div style="text-align:center; font-size:50px;">
                  <i class="fas fa-cog fa-spin"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  <script>

    setTimeout(() => {
      window.opener.postMessage('{"token": "<%= token %>"}', '*');
    }, 2000)
    
  </script>
  </body>
</html>
